@font-face {
    font-family: 'futuralight';
    src: url(futuralight.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Penna"; 
    overflow-x: hidden;
    
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height : 80px;
    background: rgb(229, 227, 225);
    z-index:1000;
    width: 100%;
    margin: 0 auto;
    padding: 0 50 px;
    position: fixed;
}

#navbar-logo{
    color: #CD90E8;
    cursor:pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-inline-start: 10px;
}

.navbar__menu{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
}

.navbar__item{
    height: 80px;
}


.navbar__links{
    color: #141414;
    text-decoration: none;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.navbar__links:hover{
    color: #CD90E8;
    transition: all 0.3s ease;
}

/*Contact Button*/
.button { 
    background: #CD90E8;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    align-items: center;
    margin-inline: 50px;
    display:flex;
    font-size: 2rem;
}

.navbar__btn.mobile{
    display: none;
}

.navbar__btn.desktop{
    display: flex;
    align-items:center;
}


.button:hover{
    background: #8937B8;
    transition: all 0.3s ease;
}

.navbar__toggle{
    display: none;
}

/* Smaller screen adaptation*/
@media screen and (max-width: 960px){

    .fa-bars{
        line-height: normal;
    }

    .navbar__toggle{
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        z-index: 10;
        font-size: 1.5res;
        border: none;
        background: none;
        cursor: pointer;
        padding:0;
    }

    .navbar__menu{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        height: calc(100% - 80px);
        opacity: 0;
        transition: all 0.5s ease;
        background: #141414;
        z-index: 10;
        margin: 0;
    }

    .navbar__menu.active{
        left: 0;
        opacity: 1;
    }

    .navbar__item{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .navbar__links{
        color: #fff;
        text-align:center;
        padding: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /*Contact Button*/
    
    .navbar__btn.desktop{
        display: none;
    }

    .navbar__btn.mobile{
        display: flex;
        justify-content:center;
        padding-bottom: 2rem;
        width:100%;
    }

}


/* Hero CSS */
.hero{
    background: #141414;
}

.hero__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 auto;
    height : 90%;
    width: 100%;
    padding: 80px 50px;
    max-width: 1300px;
    
}

.hero__content{
    color: #fff;
    text-align: justify;
    align-content: center;
    justify-content: center;
    
}

.hero__content h1{
    font-size: 4rem;
    margin-top: 20px; 
}

.hero__content p{
    margin-top: 2rem;
    font-size: 1rem;
    font-family: 'futuralight';
}

.hero__btn{
    font-size: 1rem;
    background: #CD90E8;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    margin-top: 70px;
    font-size: 2rem;
    margin-left: 150px;
}

.hero__btn:hover{
    background: #8937B8;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.resume{
    padding-left: 40px;
}

/* Hero Smaller Screen Adaptation*/
@media screen and (max-width:768px){
    .hero__container{
        grid-template-columns: 1fr;
        height:auto;
        padding: 100px 10px;
        
        align-content: center;
    }

    .hero__content{
        text-align: justify;
        margin-bottom: 4rem;
        padding: 0 20px;
        align-items: center;
        justify-content: center;
    }

    .hero__content h1{
        font-size: 2.5rem;
        margin-top:2rem;
    }

    .hero__content p{
        font-size:1rem;
    }
    .resume{
        text-align: center;
        padding-left: 0px;
    }

    .hero__btn{
        margin-left:0px;
        margin-top: 20px;
    }

}

@media screen and (max-width: 480px){
    .hero__container{
        width:100vw;
    }

    .hero__content h1{
        font-size: 2rem;
        margin-top:3rem;
    }

    .hero__btn{
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/* Journey */:root {
    --primary-color: #141414;
    --background-color: #141414;
    --font: "Penna";
    }

    /* Timeline Container */
    .timeline {
    background-image: url('timeline_white@4x.png');
    background-size:contain;
    margin: 20px auto;
    background-repeat: no-repeat ;
    padding: 20px;
    display: flex;
    justify-content: center ;
    color: #fff;
    flex-direction: column;
    text-align: center;
    }

    .timeline p{
        font-family: 'futuralight';
        font-size: 1rem;
        padding-top: 50px;
        padding-bottom: 50px;
        width: 200px;
        margin-bottom: 0px;
        height: 50%;

    }

    .info-container-1 p{
        float: right;
    }

    .info-container-1{
        transition: 0.5s ease;
        opacity: 0;
    }

    .info-container-1:hover{
        transform: translateX(-100px);
        opacity: 1;
    }
        
    .info-container-2 p{
        float: left;
    }

    .info-container-2{
        transition: 0.5s ease;
        opacity: 0;
    }

    .info-container-2:hover{
        transform: translateX(100px);
        opacity: 1;

    }  

    .info-container-3 p{
        float: right;
    }

    .info-container-3{
        transition: 0.5s ease;
        opacity : 0;
    }

    .info-container-3:hover{
        transform: translateX(-120px);
        opacity: 1;
    }
    
    .info-container-4 p{
        float: left;
        
    }

    .info-container-4{
        transition: 0.5s ease;
        opacity : 0;
    }

    .info-container-4:hover{
        transform: translateX(50px);
        opacity: 1;
    } 

@media screen and (max-width:768px) {
    .timeline {
        background-image: url('time_line.svg');
        background-size:contain;
        background-position-x: center;
    }
    .info-container-1, .info-container-2, .info-container-3, .info-container-4{
        opacity: 1;
        text-align: center;
        
    }

    .info-container-1 p, .info-container-2 p, .info-container-3 p, .info-container-4 p{
        padding: 0 0;
        max-width: 150px;
    }
}
/* Footer */
.footer__container{
    background-color: #141414;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo{
    color: #CD90E8;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.footer__links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link-wrapper{
    display: flex;
}

.footer__link-items{
    display:flex;
    flex-direction: column;
    margin: 16px;
    text-align: left;
    width: 160px;
}

.footer__link-items h3{
    margin-bottom: 1rem;
    color: #CD90E8;
}

.footer__link-items a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link-items a:hover {
    color: #CD90E8;
    transition: 0.3s ease-out;
}

.social__media{
    max-width: 1000px;
    width: 100%;
}

.social__media-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 40px auto 0 auto;
}

.social__icon{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.social__icon-link{
    color: #CD90E8;
    font-size: 24px;
    display:inline-block;
}

@media screen and(max-width: 820px) {
    .footer__links{
        padding-top: 2rem;
    }
    .footer__link-wrapper{
        flex-direction: column;
    }
    .social__media-wrap{
        flex-direction: column;
    }
}

@media screen and(max-width: 480px) {
    .social__media{
        text-align: center;
    }

    .footer__link-items{
        width: 100%;
        padding: 10px;
    }
}