*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Penna"; 
    overflow-x: hidden;
}

@font-face {
    font-family: 'futuralight';
    src: url(futuralight.ttf);
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height : 80px;
    background: rgb(229, 227, 225);
    z-index:1000;
    width: 100%;
    margin: 0 auto;
    padding: 0 50 px;
    position: fixed;
}

#navbar-logo{
    color: #CD90E8;
    cursor:pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-inline-start: 10px;
}

.navbar__menu{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
}

.navbar__item{
    height: 80px;
}

.navbar__links{
    color: #141414;
    text-decoration: none;
    height: 100%;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.navbar__links:hover{
    color: #CD90E8;
    transition: all 0.3s ease;
}

/*Contact Button*/
.button { 
    background: #CD90E8;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    align-items: center;
    margin-inline: 50px;
    display:flex;
    font-size: 2rem;
}

.navbar__btn.mobile{
    display: none;
}

.navbar__btn.desktop{
    display: flex;
    align-items:center;
}


.button:hover{
    background: #8937B8;
    transition: all 0.3s ease;
}

.navbar__toggle{
    display: none;
}

/* Smaller screen adaptation*/
@media screen and (max-width: 960px){

    .fa-bars{
        line-height: normal;
    }

    .navbar__toggle{
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        z-index: 10;
        font-size: 1.5res;
        border: none;
        background: none;
        cursor: pointer;
        padding:0;
    }

    .navbar__menu{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        height: calc(100% - 80px);
        opacity: 0;
        transition: all 0.5s ease;
        background: #141414;
        z-index: 10;
        margin: 0;
    }

    .navbar__menu.active{
        left: 0;
        opacity: 1;
    }

    .navbar__item{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .navbar__links{
        color: #fff;
        text-align:center;
        padding: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    /*Contact Button*/
    
    .navbar__btn.desktop{
        display: none;
    }

    .navbar__btn.mobile{
        display: flex;
        justify-content:center;
        padding-bottom: 2rem;
        width:100%;

    }

}

@media screen and (max-width: 480px){
    .navbar__btn.mobile a{
        font-size: 1.5rem;
    }   

    .navbar__btn.sektop a{
        font-size: 1.5rem;
    } 

    .button a{
        font-size: 1.5rem;
    }
}
/* Hero CSS */
.hero{
    background: #141414;
}

.hero__container{
    display: block;
    align-items: center;
    margin: 0 auto;
    height : 110%;
    width: 100%;
    padding: 80px 50px;
    max-width: 1300px;
    padding-top: 100px;
    overflow: hidden;
    z-index: -2;
}

.hero__content{
    color: #fff;
    grid-template-columns: 1fr 1fr;
    display: grid;
}

.info__left{
    grid-column: 1;
}

.info__left h1{
    font-size: 4rem; 
}

.info__left p{
    margin-top: 1rem;
    font-size: 1.2rem;
    font-family: 'futuralight';
}

.info__right{
    padding-top: 50px;
    grid-column: 2;
}

.demo__btn{
    font-size: 2rem;
    background: #CD90E8;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    margin-left: 20px;
    margin-top:20px;
    text-align:center;
    
}

.demo__btn a{
    text-decoration: none;
    color: #fff;
}
.demo__btn:hover{
    background: #8937B8;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.portfolio{
	height: 400px;
	display:grid;
	justify-content: center;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr;

}

input {
	display: none;
}

.page {
	position: relative;
	width: 550px;
	height: 400px;
	border-radius: 0 0 0 0;
}
.page img {
	width: 100%;
	border-radius: 0 0 0 0;
}
.page-left{
    width: 550px;
    margin-left: 47px;
    overflow-y: hidden;
}

.page-right{
    width: 550px;
    overflow-y: hidden;
}

#imgr{
    position: relative;
    float: left;
}

#imgl{
    position:relative;
    float: right;

}


.next, .prev {
	position: absolute;
    margin-top: 20%;
	align-self: center;
	cursor: pointer;
    z-index: 5;
    color: #fff;
    background-color: #141414;
    border-style: solid;
    border-width: 0;
}
.next {
	right: 1em;
}
.prev {
	left: 1em;
}

#cover{
    z-index: 4; 
    width: 550px;
    height: 400px;
    grid-column: 2;
}

#blank{
    background-color: #141414;
    z-index: 4; 
    width: 550px;
    height: 400px;
    grid-column: 1;
}


/* Hero Smaller Screen Adaptation*/
@media screen and (max-width:900px){
    .hero__container{
        grid-template-columns: 1fr;
        height:auto;
        padding: 100px 10px;
    }

    .hero__content{
        text-align: center;
        margin-bottom: 4rem;
        padding: 0 20px;
    }

    .hero__content h1{
        font-size: 2.5rem;
        margin-top:2rem;
    }

    .hero__content p{
        font-size:1rem;
        text-align: justify;
    }
    .page-left{
    width: 300px;
    margin-left: 0px;
    }

    .page-right{
        width: 300px;
    }

    #blank{
    width: 300px;
    height: 300px;
    }
    
    #cover{
    width: 300px;
    height: 300px;
    }

    .page{
        width: 300px;
        height: 300px;
    }

    .portfolio{
        justify-self: center;
        width: 600px;
        height: 300px;
        justify-content: center;
    }
    .page img{
        width: 300px;
    }

}

@media screen and (max-width: 600px){
    .hero__container{
        width:100vw;
    }

    .hero__content h1{
        font-size: 2rem;
        margin-top:3rem;
    }

    .demo__btn{
        margin: 20px 20px;
        font-size: 1.5rem;
        max-width: 110px;
        padding:10px
    }

    .portfolio{
        display:none;

    }
}


/* Footer */
.footer__container{
    background-color: #141414;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__logo{
    color: #CD90E8;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    margin-bottom: 1rem;
}


.footer__links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link-wrapper{
    display: flex;
}

.footer__link-items{
    display:flex;
    flex-direction: column;
    margin: 16px;
    text-align: left;
    width: 160px;
}

.footer__link-items h3{
    margin-bottom: 1rem;
    color: #CD90E8;
}

.footer__link-items a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link-items a:hover {
    color: #CD90E8;
    transition: 0.3s ease-out;
}

.social__media{
    max-width: 1000px;
    width: 100%;
}

.social__media-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 40px auto 0 auto;
}

.social__icon{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.social__icon-link{
    color: #CD90E8;
    font-size: 24px;
    display:inline-block;
}

@media screen and(max-width: 820px) {
    .footer__links{
        padding-top: 2rem;
    }
    .footer__link-wrapper{
        flex-direction: column;
    }
    .social__media-wrap{
        flex-direction: column;
    }
}

@media screen and(max-width: 480px) {
    .social__media{
        text-align: center;
    }

    .footer__link-items{
        width: 100%;
        padding: 10px;
    }
}